export SSH_KEY_NAME="<ssh-key-name>"
export HCLOUD_REGION="fsn1"
export CONTROL_PLANE_MACHINE_COUNT=3
export WORKER_MACHINE_COUNT=2
export KUBERNETES_VERSION=1.31.1
export HCLOUD_CONTROL_PLANE_MACHINE_TYPE=cx22
export HCLOUD_WORKER_MACHINE_TYPE=cx32
